<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dcube.com.trust">

    <application
        android:name=".utils.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".CalendarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FinanceHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NurseHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ClientHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddClientActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SearchClientActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GenerateInvoiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".StockControl" />
        <activity android:name=".ProductCategoryActivity" />
        <activity
            android:name=".ProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <activity android:name=".AddAppointmentActivity" />
        <activity android:name=".ProductSoldHistory" />
        <activity android:name=".TotalRevenue"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WithDrawMoneyActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".MoneyBankedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddExpenseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BuyPlanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewAppointmentActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>